{% extends "base.html" %}

{% block contenido %}
<div class="row">
	<div class="col-xs-12">
		<div id="grid-proyectos"></div>
	</div>
</div>

<div id="contenido"></div>

<!-- templates para kendo -->
<!-- layout -->
<script type="text/x-kendo-template" id="template-layout">
    <div class="row" id="proyectos"></div>
	<div class="row" id="tareas"></div>
    <div class="row" id="bitacora"></div>
</script>

<!-- template proyectos -->
<script type="text/x-kendo-template" id="template-proyectos">
	<div class="col-xs-12">
        <h3>Proyectos</h3>
        <ul data-role="listview"
            data-bind="source: proyectos"
            data-selectable="true"
            data-template="template-elemento-proyectos"></ul>
    </div>
</script>

<script type="text/x-kendo-template" id="template-elemento-proyectos">
	<li><a href="\#/proyecto/#:id#">#:nombre#</a></li>
</script>

<!-- template tareas -->
<script type="text/x-kendo-template" id="template-tareas">
	<div class="col-xs-12">
		<h4>Tareas</h4>
        <ul data-role="listview"
        	data-bind="source: tareas"
        	data-selectable="true"
        	data-template="template-elemento-tareas"></ul>
	</div>
</script>

<script type="text/x-kendo-template" id="template-elemento-tareas">
	<li><a href="\#/tarea/#:id#">#:nombre#</a></li>
</script>

<!-- template bitacora -->
<script type="text/x-kendo-template" id="template-bitacora">
	<div class="col-xs-12">
		<h5>Bitacora</h5>
        <ul data-role="listview"
        	data-bind="source: bitacora"
        	data-selectable="true"
        	data-template="template-elemento-bitacora"></ul>
	</div>
</script>

<script type="text/x-kendo-template" id="template-elemento-bitacora">
	<li>#:inicio# - #:fin#</li>
</script>

<!-- script principal -->
<script>
    var app = app || {};

	$(function () {
        // data source proyectos
        app.dataSourceProyectos = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/bitacora/api/proyectos/",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                },
                update: {
                    url: function(modelo) {
                        return "/bitacora/api/proyectos/" + modelo.id;
                    },
                    type: "PUT",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                },
                destroy: {
                    url: function(modelo) {
                        return "/bitacora/api/proyectos/" + modelo.id;
                    },
                    type: "DELETE",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                },
                create: {
                    url: "/bitacora/api/proyectos/",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                },
                parameterMap: function(model, operation) {
                    if (operation !== "read" && model) {
                        return kendo.stringify(model);
                    }
                }
            },
            change: function() {
                app.modeloProyectos.set("proyectos", this.view());
            },
            schema: {
                model: {
                    id: "id",
                    fields: {
                        nombre: { validation: { required: true} }
                    }
                }
            }
        });
        // modelo proyectos
        app.modeloProyectos = kendo.observable({
            proyectos: app.dataSourceProyectos.view(),
            show: function () {
                kendo.fx(this.element).fade('in').duration(500).play();
            }
        });
        // vista prpyectos
        app.vistaProyectos = new kendo.View("#template-proyectos", {
            model: app.modeloProyectos
        })
        app.dataSourceProyectos.read();

        // data source tareas
        app.dataSourceTareas = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/bitacora/api/tareas/",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }
            },
            change: function() {
                app.modeloTareas.set("tareas", this.view());
            }
        });
        // modelo tareas
        app.modeloTareas = kendo.observable({
            tareas: app.dataSourceTareas.view(),
            show: function () {
                kendo.fx(this.element).fade('in').duration(500).play();
            }
        });
        // vista tareas
        app.vistaTareas = new kendo.View("#template-tareas", {
            model: app.modeloTareas
        })
        app.dataSourceTareas.read();

        // data source bitacora
        app.dataSourceBitacora = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/bitacora/api/bitacora/",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }
            },
            change: function() {
                app.modeloBitacora.set("bitacora", this.view());
            }
        });
        // modelo bitacora
        app.modeloBitacora = kendo.observable({
            bitacora: app.dataSourceBitacora.view(),
            show: function () {
                kendo.fx(this.element).fade('in').duration(500).play();
            }
        });
        // vista bitacora
        app.vistaBitacora = new kendo.View("#template-bitacora", {
            model: app.modeloBitacora
        })
        app.dataSourceBitacora.read();

        // layout
        app.layout = new kendo.Layout("template-layout");
        app.layout.render("#contenido");
        app.layout.showIn("#proyectos", app.vistaProyectos);
        app.layout.showIn("#tareas", app.vistaTareas);
        app.layout.showIn("#bitacora", app.vistaBitacora);

        // grid proyectos
        $("#grid-proyectos").kendoGrid({
            dataSource: app.dataSourceProyectos,
            toolbar: ["create"],
            columns: [
                { field: "nombre", title: "Nombre" },
                { command: ["edit", "destroy"], title: " " }],
            editable: "popup"
        });
    });
</script>
{% endblock %}